#header {
  position: sticky;
  top: 0;
  grid-column: span 7;
  grid-row: 1;
  border-bottom: 2px solid $accent;
  margin-bottom: 28px;
  background: #393836;
  nav {
    width: 67%;
    @include flex-nav;
    margin: 13px auto;
    a:nth-child(3) { margin-left: auto; }
    a {  font-family: 'Rubik', sans-serif; color: white;
          font-size: 1.5rem; font-weight: 300; text-decoration: none; padding: 0 20px;
          span { @include bordertrans; padding-top: 9px; border-top: 2px solid transparent;
          &:hover { border-top: 2px solid $accent; } } }
  }
}

@media only screen and (max-width: 670px) {
  #header { margin-bottom: 2px; }
}
