@import './_variables';
@import './_mixins';

body {
    font-family: 'Roboto', sans-serif;
    background: $bg;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 70px auto;
    margin: 0;
    a { color: $accent; text-decoration: none; }
    h1, h2, h3 { color: $text; }
    p { color: $subtext; }
    transition: all .2s;
    fill: $header-text;
    stroke: $header-text;
}

#header {
    grid-row: 1;
    grid-column: 2/7;
    background: $header;
    font-weight: 500;
    @include flex;
    .headernav { padding: 0 20px; display: flex; margin: 0; }
    .navsides { flex: 1; }
    .navright { justify-content: flex-end; }
    a {
        transition: all .2s;
        margin: 0 25px;
        font-size: 1.75rem;
        color: $header-text;
        display: flex;
        align-items: center;
        &:hover { 
            color: $accent; 
            text-shadow: 2px 2px 3px rgba(#c6c6c6, 0.2);
        }
        svg {
            width: 30px;
            transition: all .2s;
            &:hover { fill: $accent; stroke: $accent; }
        }
    }
    #headericon { margin: 0 8px; &:hover { transform: scale(1.2); } }
}

#landing {
    grid-row: 2;
    grid-column: 2/7;
    background-color: #dfdfdf;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%23dfdfdf'/%3E%3Cstop offset='1' stop-color='%23008eff'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    @include flex;
    align-items: center;
    justify-content: center;
    .landing-content { padding: 40px 25px; }
    .landing-text {
        display: flex;
        flex-flow: column;
        h1, h2 { font-weight: 500; color: white; text-shadow: 8px 9px 16px rgba(#000000, 0.10); }
        h1 { font-size: 2.35rem; } h2 { font-size: 1.60rem; }
    }
    img { height: 250px; border-radius: 50%; filter: drop-shadow(8px 9px 16px rgba(#000000, 0.10)); }
}

#main, #footer { 
    h1 { font-weight: 500; font-size: 1.75rem; }
}

#main {
    grid-row: 3;
    grid-column: 2/7;
    background: $page;
    @include flex;
    flex-flow: column;
    padding: 20px 16px 20px 16px;
    text-align: left;
    color: $text;
    p { font-size: 1.1rem; }
    .splitsections {
        transition: all .2s;
        padding: 10px 20px;
        p { font-family: 'Roboto', sans-serif; font-size: 1.1rem; line-height: 1.5rem; padding: 4px; }
        r { border: 1px solid #999; }
        flex: 1;
        align-self: flex-start;
        justify-content: center;
    }
    .skillsection { a:hover { text-decoration: underline; } }
    #featuredw { padding-top: 32px; }
    .featured-work {
        display: flex;
        flex-flow: row wrap;
        padding: 8px;
        align-items: center;
        justify-content: center;
        .work-link {
            display: inline-block;
            margin: 16px;
            .work-link-wrapper {
                display: flex;
                flex-flow: column;
                transition: all .2s cubic-bezier(.175,.885,.32,1.275);
                transform: translateY(0);
                background: transparent;
                box-shadow: 0 0 0 rgba(77,77,77,0);
                &:hover { 
                    transform: translateY(-8px);
                    box-shadow: 0 8px 14px rgba(77, 77, 77, .1);
                }
                &:active {
                    transform: translateY(-4px);
                    box-shadow: 0 6px 10px rgba(77, 77, 77, .1);
                }
                .work-link-image {
                    display: block;
                    width: 100%;
                    height: auto;
                }
                .work-link-content {
                    background: white;
                    padding: 4px;
                    h2 { font-weight: 400; font-size: 1.3rem; text-align: center; }
                    p { text-align: center; }
                }
            }
        }
    }
}

#footer {
    grid-row: 4;
    grid-column: 2/7;
    background: $footer;
    @include flex;
    flex-flow: column;
    padding: 20px 16px 20px 16px;
    justify-content: center;
    h2 { color: white; font-weight: 500; }
    #links {
        @include flex;
        flex-flow: row wrap;
        justify-content: center;
        a { transition: all .2s cubic-bezier(.175,.885,.32,1.275); color: #868e96; font-size: 2rem; padding: 0 15px; }
        #discord:hover { color: #7289da; transform: scale(1.2); }
        #twitter:hover { color: #1da1f2; transform: scale(1.2); }
        #github:hover { color: #5e237f; transform: scale(1.2); }
        #linkedin:hover { color: #007bb6; transform: scale(1.2); }
        #reddit:hover { color: #ff3f18; transform: scale(1.2); }
        #youtube:hover { color: #ff0000; transform: scale(1.2); }
        #twitch:hover { color: #744bc2; transform: scale(1.2); }
        #steam:hover { color: #a6d2e4; transform: scale(1.2); }
        #spotify:hover { color: #18d860; transform: scale(1.2); }
        #npm:hover { color: #cc3534; transform: scale(1.2); }
        #medium:hover { color: #14c767; transform: scale(1.2); }
        #instagram:hover { color: #d6249f; transform: scale(1.2); }
        .social { padding: 8px; }
    }
    .madewith { color: #868e96; margin: 32px 16px 0 16px; }
    .copy {
        margin: 4px 16px 0 16px;
        justify-content: flex-end;
        font-size: .75rem; 
        color: #797e83;
      }
}

#twitter, #github, #linkedin { display: none; }

@media only screen and (max-width: 1475px) {
    #header, #landing, #pageheader, #main, #footer { grid-column: 1/8; }
}

@media only screen and (max-width: 1100px) {
    #header { .headernav { a { margin: 0 10px; } } }
}

@media only screen and (max-width: 900px) {
    #header { .headernav {
        .navleft { flex: 5; }
        a { font-size: 1.5rem; span { font-size: 1.25rem; } svg { width: 25px; } }
    } }
}

@media only screen and (max-width: 790px) {
    #header { .headernav { span { display: none; } } }
    #main { flex-flow: column; align-items: center; }
    #linkme { align-items: center; }
    #footer { align-items: center; }
    #headericon { display: none !important; }
    #twitter, #github, #linkedin { display: initial; }
}

@media only screen and (max-width: 550px) {
    #landing, #pageheader {
        .landing-text { h1 { font-size: 2rem; } h2 { font-size: 1.20rem; } }
        img { height: 200px; }
    }
    #landing { flex-flow: column-reverse; }
    #header { .headernav { padding: 0 4px; } }
}



.tippy-tooltip.rgerdin-theme,
.tippy-tooltip.rgerdin-theme .tippy-backdrop {
    width: 380px;
    background: $header;
    color: $text;
    text-align: left;
    box-shadow: 0 8px 14px rgba(77, 77, 77, .1);
    transition: all .2s cubic-bezier(.175,.885,.32,1.275);
}
.tippy-popper[x-placement^=right] .tippy-tooltip.rgerdin-theme .tippy-arrow {
    transition: all .2s cubic-bezier(.175,.885,.32,1.275);
    border-right: 7px solid $header;
}
.tippy-popper[x-placement^=left] .tippy-tooltip.rgerdin-theme .tippy-arrow {
    transition: all .2s cubic-bezier(.175,.885,.32,1.275);
    border-left: 7px solid $header;
}
.tippy-popper[x-placement^=top] .tippy-tooltip.rgerdin-theme .tippy-arrow {
    transition: all .2s cubic-bezier(.175,.885,.32,1.275);
    border-top: 7px solid $header;
}
.tippy-popper[x-placement^=bottom] .tippy-tooltip.rgerdin-theme .tippy-arrow {
    transition: all .2s cubic-bezier(.175,.885,.32,1.275);
    border-bottom: 7px solid $header;
}



.tippy-tooltip.discord-theme,
.tippy-tooltip.discord-theme .tippy-backdrop {
    background: #7289da;
    color: white;
    box-shadow: 0 8px 14px rgba(77, 77, 77, .1);
    transition: all .2s cubic-bezier(.175,.885,.32,1.275);
}
.tippy-popper[x-placement^=right] .tippy-tooltip.discord-theme .tippy-arrow {
    transition: all .2s cubic-bezier(.175,.885,.32,1.275);
    border-right: 7px solid #7289da;
}
.tippy-popper[x-placement^=left] .tippy-tooltip.discord-theme .tippy-arrow {
    transition: all .2s cubic-bezier(.175,.885,.32,1.275);
    border-left: 7px solid #7289da;
}
.tippy-popper[x-placement^=top] .tippy-tooltip.discord-theme .tippy-arrow {
    transition: all .2s cubic-bezier(.175,.885,.32,1.275);
    border-top: 7px solid #7289da;
}
.tippy-popper[x-placement^=bottom] .tippy-tooltip.discord-theme .tippy-arrow {
    transition: all .2s cubic-bezier(.175,.885,.32,1.275);
    border-bottom: 7px solid #7289da;
}