body {
  background: #f1f3f5;
  display: grid;
  grid-template-columns: repeat(19, 1fr);
  grid-template-rows: 70px 92.8vh;
  margin: 0; }

#header {
  grid-row: 1;
  grid-column: 3/18;
  background: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  display: flex;
  flex-flow: row nowrap;
  align-items: center; }
  #header nav {
    padding: 0 20px; }
    #header nav a {
      -o-transition: color .2s ease-out, background .1s ease-in;
      -ms-transition: color .2s ease-out, background .1s ease-in;
      -moz-transition: color .2s ease-out, background .1s ease-in;
      -webkit-transition: color .2s ease-out, background .1s ease-in;
      /* ...and now override with proper CSS property */
      transition: color .2s ease-out, background .1s ease-in;
      padding: 0 25px;
      font-size: 1.75rem;
      text-decoration: none;
      color: #444; }
      #header nav a:hover {
        color: #00c56b; }
    #header nav #headericon {
      font-size: 1.5rem;
      padding: 0 12px; }
  #header .header-left {
    justify-content: flex-start; }
  #header .header-right {
    justify-content: flex-end;
    margin-left: auto; }

#info {
  grid-row: 2;
  grid-column: 3/18;
  background: #f8f9fa;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  flex-flow: column nowrap;
  padding: 0 0 20px 0; }
  #info h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 1.85rem;
    color: #444; }
  #info h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #555; }
  #info #pinfo {
    display: flex;
    flex-flow: row nowrap;
    align-items: center; }
    #info #pinfo img {
      width: 225px;
      padding: 40px 20px 40px 40px; }
    #info #pinfo .textcont {
      padding: 0 20px 0 0; }
      #info #pinfo .textcont h1, #info #pinfo .textcont h3 {
        position: relative; }
      #info #pinfo .textcont h1 {
        align-self: flex-start;
        top: 8px; }
      #info #pinfo .textcont h3 {
        align-self: flex-end;
        bottom: 8px; }
  #info #links {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
    width: 450px; }
    #info #links a {
      -o-transition: color .2s ease-out, background .1s ease-in;
      -ms-transition: color .2s ease-out, background .1s ease-in;
      -moz-transition: color .2s ease-out, background .1s ease-in;
      -webkit-transition: color .2s ease-out, background .1s ease-in;
      /* ...and now override with proper CSS property */
      transition: color .2s ease-out, background .1s ease-in;
      color: #555;
      font-size: 2.25rem;
      padding: 0 15px; }
    #info #links #twitter:hover {
      color: #1da1f2; }
    #info #links #github:hover {
      color: #5e237f; }
    #info #links #linkedin:hover {
      color: #007bb6; }
    #info #links #discord:hover {
      color: #7289da; }
    #info #links #reddit:hover {
      color: #ff3f18; }
    #info #links #youtube:hover {
      color: #ff0000; }
    #info #links #twitch:hover {
      color: #6441a4; }
    #info #links #steam:hover {
      color: #143d71; }
    #info #links #spotify:hover {
      color: #18d860; }
    #info #links #npm:hover {
      color: #cc3534; }
    #info #links #medium:hover {
      color: #14c767; }
    #info #links #instagram:hover {
      color: #e1336c; }

#twitter, #github, #linkedin {
  display: none; }

@media only screen and (max-width: 1200px) {
  #header, #info {
    grid-column: 1/20; } }
@media only screen and (max-width: 690px) {
  #headericon {
    display: none; }

  #twitter, #github, #linkedin {
    display: initial; }

  #info #links {
    width: 350px; } }
@media only screen and (max-width: 550px) {
  #header nav {
    padding: 0; }
    #header nav a {
      padding: 0 10px; }

  #info #pinfo .textcont {
    padding: 0 15px; }
    #info #pinfo .textcont h1 {
      font-size: 1.75rem; }
    #info #pinfo .textcont h3 {
      font-size: 1.05rem; }
  #info #pinfo img {
    width: 200px;
    padding: 40px 15px 40px 15px; } }

/*# sourceMappingURL=main.css.map */
