@import './components/_all';

body {
  background: white;
  font-family: 'Roboto', sans-serif;
  b, strong { font-weight: 500; }
  i, em { font-style: italic; }
  h1, h2, h3 { color: $darkgrey; }
  h1 { font-size: 2rem; }
  h2 { font-size: 1.5rem; }
  h3 { font-size: 1.25rem; }
  p { color: $grey; }
}

#info {
  margin: 0 8px;
  grid-column: 2/2;
  grid-row: 2;
  background: $gwhite;
  box-shadow: $shadow;
  @include flex;
  img { justify-content: center; align-self: center; width: 250px;
            border-radius: 50%; padding: 20px 0; }
  h2 { font-family: 'Rubik', sans-serif; }
}

#page {
  margin: 0 8px;
  grid-column: 3/6;
  background: $gwhite;
  box-shadow: $shadow;
}
